{% extends 'shared/main.html' %}
{% load static %}
{% block title %}
    All My PortFolio
{% endblock %}

{% block body %}
    <div align="center">
        <div class="portfolio-titr">
        <h2>
            All My PortFolio
        </h2>
    </div>
    </div>
    <br>
    <div align="center">
        <div class="allportfolio-carts">
            <div class="row">
                {% for portfolio in all %}
                    <div class="col-md-3 col-xs-12">
                        <a href="{% url 'portfolio:detail' portfolio.id %}" class="linkBgCart">
                            <div class="bgcart">
                                <img src="../media/{{ portfolio.image }}">
                                <h4>{{ portfolio.title }}</h4>
                                <hr style="width:50%;">
                                <p>{{ portfolio.description|truncatechars:100|striptags }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}